body {
        margin-top: 125px; /* adjust this if the height of the menu bar changes */
}

.content {
    margin-top:50px;
    width:100%
}

footer {
text-align:center;
margin: 50px 0;
}


footer p {
    padding:5px 0 12px 10px
}

